*.js
!jest.config.js
*.d.ts
node_modules
package-lock.json

# CDK asset staging directory
.cdk.staging
cdk.out
cdk-output.json/

mdai-install
kubectl-cfg-command
.env
cdk-output.json
.idea/decisive-engine-aws-cdk.iml
.idea/vcs.xml
.idea/workspace.xml

values/
