*.js
!jest.config.js
*.d.ts
node_modules
package-lock.json

# CDK asset staging directory
.cdk.staging
cdk.out
cdk-output.json/

mdai-install
kubectl-cfg-command
.env
cdk-output.json

lib/*
values/*


.DS_Store
.idea/*

templates/karpenter-ec2nodeclass-values.yaml